.body-scroll-lock {
	overflow: hidden;
}

.back {
	background-color: #fff;
}

.back.dark {
	background-color: rgba(38, 38, 38, 0.3);
}
/**
  |============================
  | Modal
  |============================
*/

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

	background-color: rgba(38, 38, 38, 0.3);
	z-index: 200;
}

.modal-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	max-height: calc(100vh - 20px);
	max-width: 280px;

	@media only screen and (min-width: 375px) {
		max-width: calc(100% - 40px);
		/* width: 335px; */
	}

	@media only screen and (min-width: 768px) {
		max-width: 473px;
	}
}

.modal {
	position: relative;
	padding: 40px 28px;
	border-radius: 24px;

	background: #fff;
	z-index: 300;
	width: calc(320px - 40px);

	@media only screen and (min-width: 375px) {
		width: calc(375px - 40px);
	}

	@media only screen and (min-width: 768px) {
		padding: 40px;
		width: 500px;
	}
}

.modal.dark {
	background: #646363;
}

/**
  |============================
  | Form
  |============================
*/

.button-wrap {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 16px;
}

.form-wrap {
	position: relative;
}

.form-wrap-date-cvc {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.add-btn.dark {
	background-color: #1c193f;
	color: #918f8f;
}

.add-btn.dark:hover,
.add-btn.dark:focus {
	background-color: #2b2757;
}

.cancel-btn.dark {
	background-color: #2e2e30;
	border: none;
	color: #918f8f;
}

.cancel-btn.dark:hover,
.cancel-btn.dark:focus {
	background-color: #404041;
}

/**
  |============================
  | Input
  |============================
*/

.wrap-input {
	margin-bottom: 40px;
}

.input-date {
	@media only screen and (min-width: 768px) {
		width: calc(420px - 16px - 80px);
	}
}

.input-date::placeholder {
	font-family: "Arial Narrow", Arial, sans-serif, Helvetica, sans-serif;
	font-size: 14px;
}

.brand-position {
	position: absolute;
	top: 25px;
	right: 3px;

	@media only screen and (min-width: 768px) {
		top: 31px;
		right: 15px;
	}
}

.brand-position.dark {
	background: #646363;
}

.slash {
	position: absolute;
	top: 5px;
	left: 32px;

	@media only screen and (min-width: 768px) {
		left: 30px;
	}
}

/**
  |============================
  | Table
  |============================
*/

label,
.button-delete,
td:not(:first-child) {
	padding-left: 0;
	padding-right: 0;

	font-size: 12px;

	@media only screen and (min-width: 768px) {
		font-size: 18px;
	}
}

th {
	padding-left: 4px;
	padding-right: 4px;
}

@media only screen and (min-width: 768px) {
	.button-brand-last,
	.header-title {
		font-size: 22px;
	}

	.create-button {
		font-size: 20px;
	}
}

/**
  |============================
  | Switch buttons
  |============================
*/

.switch-buttons {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
}
.switch-button {
	border: none;
	border-radius: 50%;
	padding: 0;
}

.switch-button:hover,
.switch-button:focus {
	background-color: rgb(245, 245, 138);
}

.switch-icon {
	padding: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;

	@media only screen and (min-width: 768px) {
		width: 45px;
		height: 45px;
	}
}

.switch-icon.white {
	color: orange;
	background-color: rgb(255, 255, 192);
	transition: all 0.5s ease-in;
}

.switch-icon.white:hover,
.switch-icon.white:focus {
	background-color: rgb(245, 245, 138);
}

.switch-icon.light {
	color: rgb(34, 19, 19);
	background-color: #5e5858;
	transition: all 0.5s ease-in;
}

.switch-icon.light:hover,
.switch-icon.light:focus {
	background-color: #918f8f;
}
